{% extends 'base.html.twig' %}


{% block body %}

    <div>
        <h1>{{ category.name }}</h1>
        {% for article in articles %}
            <h2>{{ article.id }} : <a href="/article/{{ article.title }}">{{ article.title }}</a></h2> <p>{{ article.content }}</p>
        {% endfor %}
    </div>


{% endblock %}